<h1>신이 '<%= @name %>'을(를) 만들 때</h1>
<div class="row">
  <div class="card col-sm" style="width: 20rem;">
  <img class="card-img-top" src="/assets/sub.PNG" alt="Card image cap">
  <div class="card-block">
    <p class="card-text"><%= @first[0] %>을(를) <%= @first_num[0] %>컵 넣고</p>
  </div>
</div>
  <div class="card col-sm" style="width: 20rem;">
  <img class="card-img-top" src="/assets/sub2.PNG" alt="Card image cap">
  <div class="card-block">
    <p class="card-text"><%= @second[0] %>을(를) <%= @second_num[0] %>스푼 넣고</p>
  </div>
</div>
  <div class="card col-sm" style="width: 20rem;">
  <img class="card-img-top" src="/assets/sub3.PNG" alt="Card image cap">
  <div class="card-block">
    <p class="card-text"><%= @third[0] %>을(를) <%= @third_num[0] %>컵 넣자</p>
  </div>
</div>
</div>